# don't use ./ prefixes
[submodule "smex"]
	path = packages/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "zencoding"]
	path = packages/zencoding
	url = git://github.com/chrisdone/zencoding.git
[submodule "magit"]
	path = packages/magit
	url = git://github.com/philjackson/magit.git
[submodule "paredit"]
	path = packages/paredit
	url = git://github.com/emacsmirror/paredit.git
