# I see you like version control in your version control
.svn/
CVS/
.bzr/
.hg/

# Personal files
private/*


# Info
# ignore huge info files
info/*

# Unnecessary files
tramp
*.elc
elpa/
el-get/
/places
/projectile-bookmarks.eld
/projectile.cache
/server/server
/ac-comphist.dat
/request/
/.DS_Store
/private/emacs-custom.el
